@font-face {
	font-family: "Lato-M";
	src: url("../fonts/Lato/Lato-Medium.ttf");
	src:  url("../fonts/Lato/Lato-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "Lato-B";
	src: url("../fonts/Lato/Lato-Bold.ttf");
	src:  url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Lato-L";
	src: url("../fonts/Lato/Lato-Light.ttf");
	src:  url("../fonts/Lato/Lato-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Lato-R";
	src: url("../fonts/Lato/Lato-Regular.ttf");
	src:  url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

